#header_wrapper{
  background: url("body_bg.png") repeat-x;
}
a:hover{
	color: #000;
}
body,
#sidebar1 .sidebar.nav-left {
color: #666;
}
#main .page2{
  background-color:#e8e8e8;
}
#footer_wrapper{
  background-color:#666666;
}
#header .logo_wrapper .site_name,
#header .logo_wrapper  .site_slogan{
	color:#737373;
}
  #header .nav li a:hover{
  color:#000;
}
#header .nav2 a{
    	color:#6f6f6f;
}
#sidebar1 {
  border-right:1px solid #dddddd;
}
#sidebar1 .nav-left .active a,
.nav-left li a:hover{
	color:#fff;
	background-color:#000;
}
.nav-left li a {
  	/*color:#707070;*/
}
#sidebar1 .sidebar.nav-left  h2 {
  /*color:#333;*/
}
#product .description a {
}
#product .description a:hover{
}
#collection .title a{
	color:#333;
}
#collection .title a:hover{
	color:#777;
}
#product .padding .social{
  color:#666;
}
